:root{
    font-size: 10px;
}
body{
    width: 80%;
    margin: auto;
}
header{
    h1{
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
    }
}
main{
    #hero {
        h2 {
            text-align: center;
            text-transform: capitalize;
        }
    }
}